.landing {
  min-height: 100vh;

  background:
    linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.85)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/6a22d2e5-df55-4f37-8b3e-91e9cce1a5d5/india-en-20240513-popsignuptwoweeks-perspective_alpha_website_large.jpg");

  background-size: cover;
  background-position: center;
  color: white;
}

/* NAVBAR */
.landing-navbar {
  display: flex;
  justify-content:
    space-between;

  align-items:
    center;

  padding:
    25px 70px;
}

.landing-navbar h1 {
  color: #e50914;
  font-size: 70px;
  font-weight: 800;
}

.signin-btn {
  background: #e50914;
  border: none;
  color: white;

  padding:
    12px 28px;

  border-radius: 8px;

  font-size: 18px;
  cursor: pointer;
}

/* HERO */
.landing-overlay {
  height: 85vh;

  display: flex;
  justify-content:
    center;

  align-items:
    center;

  text-align: center;
}

.landing-content {
  max-width: 850px;
}

.landing-content h1 {
  font-size: 75px;
  font-weight: 800;
  line-height: 1.1;
}

.landing-content h2 {
  font-size: 34px;
  margin:
    20px 0;
}

.landing-content p {
  font-size: 24px;
  color: #ddd;
}

.get-started-btn {
  margin-top: 30px;

  background:
    linear-gradient(
      135deg,
      #e50914,
      #ff2d3a
    );

  border: none;
  color: white;

  padding:
    20px 50px;

  border-radius: 12px;

  font-size: 28px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.get-started-btn:hover {
  transform:
    scale(1.05);
}

@media (max-width:768px) {

  .landing-navbar {
    padding: 20px;
  }

  .landing-navbar h1 {
    font-size: 45px;
  }

  .landing-content h1 {
    font-size: 45px;
  }

  .landing-content h2 {
    font-size: 24px;
  }

  .landing-content p {
    font-size: 18px;
  }

  .get-started-btn {
    font-size: 20px;
    padding: 16px 35px;
  }
}