*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:
    Arial,
    sans-serif;
}

/* LOGIN PAGE */

.login-page{
  width:100%;
  height:100vh;

  background:
    linear-gradient(
      rgba(0,0,0,0.78),
      rgba(0,0,0,0.82)
    ),
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1974&auto=format&fit=crop");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  position:relative;
}

/* NAVBAR */

.login-navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:
    25px 70px;

  position:relative;
  z-index:10;
}

.netflix-logo{
  color:#e50914;
  font-size:52px;
  font-weight:900;
}

.signin-btn{
  background:#e50914;
  color:white;

  border:none;

  padding:
    10px 24px;

  border-radius:6px;

  font-size:16px;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.signin-btn:hover{
  background:#f40612;
}

/* OVERLAY */

.overlay{
  display:flex;
  justify-content:center;
  align-items:center;

  height:85vh;
}

/* LOGIN BOX */

.login-box{
  background:
    rgba(0,0,0,0.78);

  width:430px;

  padding:
    60px;

  border-radius:8px;

  backdrop-filter:
    blur(5px);

  box-shadow:
    0 0 30px
    rgba(0,0,0,0.5);
}

.login-box h1{
  font-size:38px;
  margin-bottom:30px;
  color:white;
}

.login-box input{
  width:100%;

  height:58px;

  background:#333;

  border:none;

  outline:none;

  color:white;

  padding:
    0 20px;

  margin-bottom:18px;

  border-radius:5px;

  font-size:16px;
}

.login-box input::placeholder{
  color:#aaa;
}

.login-box button{
  width:100%;
  height:55px;

  background:#e50914;
  color:white;

  border:none;

  border-radius:5px;

  font-size:18px;
  font-weight:700;

  cursor:pointer;

  margin-top:10px;

  transition:0.3s;
}

.login-box button:hover{
  background:#f40612;
}

.login-box p{
  margin-top:25px;
  color:#aaa;
  font-size:16px;
}

.login-box span{
  color:white;
  cursor:pointer;
  font-weight:600;
}

.login-box span:hover{
  text-decoration:underline;
}

/* FOOTER */

.login-footer{
  width:100%;

  padding:
    80px 150px;

  background:
    rgba(0,0,0,0.80);

  color:#b3b3b3;
}

.footer-call{
  font-size:18px;
  margin-bottom:40px;
}

.footer-call span{
  text-decoration:
    underline;

  cursor:pointer;
}

.footer-grid{
  display:grid;

  grid-template-columns:
    repeat(4,1fr);

  gap:50px;

  margin-bottom:50px;
}

.footer-grid div{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.footer-grid a{
  color:#b3b3b3;

  text-decoration:
    underline;

  font-size:16px;
}

.language-select{
  background:
    transparent;

  border:
    1px solid #666;

  color:white;

  padding:
    12px 18px;

  border-radius:5px;

  margin-bottom:30px;
}

.country{
  margin-bottom:40px;
  color:#b3b3b3;
}

.captcha-text{
  color:#8c8c8c;
  font-size:14px;
}